<style>
    .confirm-box{
        padding: 50px 0;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 800px;
    }
</style>
<div class="confirm-box">
        <h1><%- page.title %></h1>
        <p><%- page.content %></p>
        <a class="btn btn-default" href="<%- theme.menu.Home %>">Back to home</a>
</div>
